
@{
    ViewBag.Title = "Thankyouview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3><a href="/Home/Index">Main Page</a></h3><br/>
<br />






















<br /><br />
<img src="http://www.thepanelstation.com/htmlfiles/confirmation-template/images/thankyou-for-registration-confirmation-temp-eng.png" />